@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&display=swap');


.body{
  z-index: 111;
}

.landing{
    min-height: 100vh;
    background: url("/dk/dk/src/Images/back.jpg");
    background-size: cover;
    padding: 0rem 6rem;
}
.code{
  color:blue;
}
/* nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
} */
.nav-links{
    color: white;
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    list-style: none;
    width: 50%;
    height: 100%;

    text-shadow:    3px 3px 20px #414141,
    -2px 10px 30px #444444;;

}
.nav-links li{
    padding-left: 10rem;
    font-size: 1.8rem;
}
.logo{
    font-size: 2.5rem;
    font-family: 'Lobster', sans-serif;


}
.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.intro-text{
    color:rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}
.slider{
    background: rgb(97,105,109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

}
.hide{
    background: black;
    overflow: hidden;

}
.hide span{
    transform: translateY(100%);
    display: inline-block;
    
}  

  .splatter {
    width: 50%;
    position: absolute;
    top: 90px;
    left: -80px;
    z-index: 600;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 11.5s;
    animation-delay: 11.5s; 
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
  








  .circle1 {
    /* display:none; */
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 800;
    /* background: #f49b21; */
    border-radius: 50%;
    height: 320px;
    width: 320px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .20s;
    animation-duration: .30s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .splatter1 {
    position: absolute;
    top: 50px;
    left: 800px;
    z-index: 799;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; 
    -webkit-animation-delay: 5.7s;
    animation-delay: 5.7s; 
  }
  
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
              transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }


